# This is an example of a .env file for your application.

# DB_USERNAME
# username for the database connection
DB_USERNAME=
# DB_PASSWORD
# password for the database connection
DB_PASSWORD=
# DB_HOST
# host for the database connection, including the protocol and port
# Example: jdbc:postgresql://localhost:5432/database_name
DB_HOST=
# APP_JWT_ISSUER
# issuer for the JWT tokens used in the application
APP_JWT_ISSUER=
